#Production

MONGO_URI=mongodb+srv://gerrex95:jZHJNQreldBngOwC@fixsellwebsite.lmldmyq.mongodb.net/
MONGO_DB_NAME=fixsell_db
POSTGRES_PASSWORD=FembaStQ31p1VKNwxFsN5IhCB5mjGvGn
POSTGRES_DB_NAME=fixsell_erp
POSTGRES_DB_HOST=fixsell-erp.cdov37xwge2e.us-east-1.rds.amazonaws.com
POSTGRES_DB_PORT=5432
POSTGRES_DB_USERNAME=postgres
PORT=3000
HOST_API=https://nest-fixsell-backend-production.up.railway.app


#Development

MONGO_URI=mongodb+srv://gerrex95:jZHJNQreldBngOwC@fixsellwebsite.lmldmyq.mongodb.net/
MONGO_DB_NAME=fixsell_db
POSTGRES_PASSWORD=hbv7jPdf64.d7
POSTGRES_DB_NAME=FixsellDB
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_USERNAME=postgres
PORT=3000
HOST_API=http://localhost:3000